.page-1 .s1{
        -webkit-transform: translateY(100px);
        -webkit-transition: all 1.5s;
        opacity: 0;
      }
      .page-1 .s2{
        -webkit-transform: translateY(100px);
        -webkit-transition: all 1s;
        -webkit-transition-delay: 0.5s;
        opacity: 0;
        font-family: 'Carrois Gothic SC', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        text-align: center;
        color: white;
      }
    
      .page-1.animation-on .s1{
        -webkit-transform: translateY(0px);
        opacity: 1;
      }
      .page-1.animation-on .s2{
        -webkit-transform: translateY(0px);
        opacity: 1;
      }

      .bt-icon-top {
          padding-right: 10px;
          margin-top:0.3%;
          float:right;
          background: none;
          border:0;
          color: #eee;
          font-size: 30px;

      }

      .bt-icon-top:hover {
         transition: 1s;
         font-size: 35px;
         color: #ccc; 
         cursor: pointer;
         background: none;
      }

      #loading-gif {
        text-align: center;
        margin-top:23%;
      }